body{ 
    background-image: url(images/etid.jpg);
/*    background-repeat: no-repeat;*/
    background-size: cover;
}

ul.nav{
    list-style: none;
    padding: 0;
}


ul.nav li{
    display:inline;
    font-family: sans-serif;
    padding: px;
    color: aliceblue
}
