body{ 
    background-image: url(images/etid.jpg);
/*    background-repeat: no-repeat;*/
    background-size: cover;
}

ul.nav{
    list-style: none;
    padding: 0;
    margin:0;
    width: 150px;
    background-color:floralwhite;
    position: fixed;
    right:10px;
}


ul.nav li{
    display:block;
    font-family: avenir;
    font-size: 16px;
    padding: 5px 15px;
    text-decoration: none;
}

li a.active{
    background-color: blueviolet;
    color: white;
}

h1{
    color:yellow;
    font-family:avenir;
    font-size: 40px;
}


p{
    color:greenyellow;
    font-family: avenir-medium;
    font-size: 16px;
    width: 700px;
}

span{
    color: fuchsia;
    font-family: avenir-heavy;
    font-size: 20px;
    text-shadow: 2px 2px white; 
    text-transform: uppercase;
    text-shadow: 10px 9px black;
    
}
.move-me {
    position:relative;
    top: 30px;
    left: 30px;
}
