body, html {
    height: 100%;
}

body{ 
    background-image: url(images/Aboutme.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul.nav{
    list-style: none;
    padding: 0;
    margin:0;
    width: 150px;
    background-color:floralwhite;
    position: fixed;
    right:10px;
    border: 1px solid #555;
}

/*why won't the whole active Li change background color?*/

ul.nav li{
    display:block;
    font-family: avenir-medium;
    font-size: 100%;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;

}

a.active{
    background-color: blueviolet;
    color: white;
    margin:0;
    padding:0;
}

h1{
    color:blueviolet;
    font-family:avenir;
    font-size: 200%;
    margin-left: 20px;
}


p{
    color:ghostwhite;
    font-family: avenir;
    font-size: 100%;
    margin-left: 20px;
    width: 400px;
}

.music {
        color: ghostwhite;
        font-size: 16px;
        font-family: avenir;
}

.move-me {
    position:relative;
    top: 500px;
    left:40px;
}

@media only and (min-width: 480px)and (max-width:812px) {
p { font-size:80%;padding:5px; margin:5px;}
} 

@media only and (min-width: 813px) and (max-width:1024px) {
p { font-size:80%;padding:10px; margin:5px;}
} 

@media only screen and (min-width: 1025px) and (max-width:1320px) {
   p { font-size:100%; padding:12px; margin:5px;}
} 
